* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;	
}

/*landing page*/

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	padding-top: 15%;
	height: 100vh;
	background-color: #333;
	border-radius: 0; /*removes jumbotron's rounded corners*/
}

.jumbotron h1 {
	color: #f2f2f2; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

/*end landing*/


/*home page*/
#home-landing {
	background-color: #333;
	padding: 20%;
	color: #fff;
}

#carousel-controls {
	height: 100vh;
}

#carousel-controls img {
	height: 90vh;
	max-height: 90vh;
}

/*end home*/



/*contact*/

#map-wrap {
	position: relative;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*end contact*/

/*about*/

.fadeIn {
	animation-duration: 5s;
}

#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.about-tags {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#mission {
	height: 100%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2; /*off white*/
	color: #141414; /*off black*/
}
















